/* ======================
  table of contents
=========================

  1. Footer
  2. Responsive
*/

/* ==========
  1. Footer
=============*/

footer {
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.footer-links {
  display: flex;
  gap: 1rem;
}
.footer-links a {
  color: var(--subtitle);
  font-size: 0.9rem;
  font-weight: 500;
  transition: 0.3s;
}
.footer-links a:hover {
  color: var(--blue);
  font-size: 1rem;
}
footer p {
  color: rgb(113, 113, 122);
  font-size: 0.9rem;
}

/* ==============
  2. Responsive
=================*/

@media screen and (max-width: 750px) {
  footer {
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 1.5rem;
  }
}