/* ======================
  table of contents
=========================

1. Main
2. List
3. Projects
4. Responsive
*/

/* ==========
  1. Main
=============*/

main {
  display: flex;
  gap: 2.64rem;
}

/* ==========
  2. List
=============*/

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.list button {
  background-color: rgba(36, 37, 46, 1);
  width: 11rem;
  padding: 0.75rem 0;
  text-align: center;
  font-size: 1.05rem;
  border-radius: 5px;
  transition: 0.3s;
  opacity: 0.8;
}
.active {
  border: 1px solid var(--blue);
  font-weight: bold;
  letter-spacing: 0.6px;
  font-size: 1.25rem;
}
.light .active {
  border: 1px solid darkorange;
}

/* ============
  3. Projects
===============*/

.project {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 2rem;
}
.card {
  border: 1px solid rgba(93, 188, 252, 0.3);
  border-radius: 8px;
  transition: 0.3s;
  background: var(--bgHeader);
}
.light .card {
  box-shadow: 1px 1px 40px rgba(0, 0, 0, 0.45);
}
.card:hover {
  border: 1px solid var(--blue);
  rotate: 1deg;
  scale: 1.01;
}
.light .card:hover {
  border: 1px solid darkorange;
}

.card img {
  width: 300px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.card .box {
  width: 300px;
  padding: 1rem 0.4rem;
}
.card .box .name {
  color: var(--title);
}
.card .box .info {
  font-size: 0.8rem;
  margin-top: 0.7rem;
  margin-bottom: 0.8rem;
}
.link {
  display: flex;
  justify-content: space-between;
}
.link a {
  margin-right: 14px;
}
.link div a {
  font-size: 1.25rem;
  color: var(--subtitle);
  transition: 0.3s;
}
.link div a:hover {
  font-size: 1.25rem;
  color: var(--icon-hover);
}
.link .arrow {
  font-size: 0.9rem;
  color: var(--blue);
}


/* ==============
  4. Responsive
=================*/

@media (max-width: 1250px) {
  main {
    flex-direction: column;
    align-items: center;
  }
  .list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .list button {
    width: 7rem;
    padding: 0.8rem 0;
    font-size: 0.9rem;
  }
  .card img {
    width: 250px;
  }
  .card .box {
    width: 250px;
  }
}